{% extends 'base.html' %}

<h3>

{% block title%} Dashboard of {{details.user.username }} {% endblock %}

{% block body %}
	<div class="container">
	<img src="{{ details.profile_picture.url }}" width="150"> {{details.user.username}}
	<hr><strong><br>Name : {{ details.Name }}</br></strong></hr>
	<hr><br>Contact Number : {{ details.contact_no }}</br></hr>
	<hr><br>Years of Experience : {{ details.Years_of_experience }} years</br></hr>
	<hr><br>Total Number of Completed Projects : {{ details.Number_of_finished_projects }}</br></hr>
	<hr><br>Locality : {{ details.Locality }}</br></hr>
	<hr><br>Expected Salary : {{ details.Expected_salary }}</br></hr>
	<hr><br>Approximate Overall Cost Quote : {{ details.Overall_cost }}</br></hr>
	<hr><br>

	<h5>Images of {{ details.Name }}'s work</h5>
	{% for collection in images %}

		<img src="media/{{ collection.image }}" width="150" height="150" >
	
	{% endfor %}
	

	</hr></br>
	
	<hr>
	<h5 align="right">
	<a href="{% url 'logout' %}">Logout</a>||
	<a href="{% url 'edit' %}">Edit Profile</a>||
	<a href="{% url 'img' %}">Add Image</a>

	
	</hr>
	</h5>
	

</h3>




{% endblock %}



</h3>