
{% extends 'base.html' %}
<h3>

{% block title %} Viewing {{ details.user.username }}'s profile {% endblock %}

{% block body %}
<div class="container">
	<img src="{{ details.profile_picture.url }}" width="200">

	<strong><br>Name : {{ details.Name }}</br></strong>
	<br>Contact Number : {{ details.contact_no }}</br>
	<br>Years of Experience : {{ details.Years_of_experience }}</br>
	<br>Total Number of Completed Projects : {{ details.Number_of_finished_projects }}</br>
	<br>Locality : {{ details.Locality }}</br>
	<br>Expected Salary : {{ details.Expected_salary }}</br>
	<br>Approximate Overall Cost Quote : {{ details.Overall_cost }}</br>


	<hr><br>

	<h5>Images of {{ details.Name }}'s work</h5>
	{% for collection in images %}

		<img src="{{ collection.image.url }}" width="150" height="150" >
	{% endfor %}
	

	</hr></br>
	
</div>

{% endblock %}


</h3>